name: Python Quality Assurance

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov radon
    - name: Run Tests and Coverage
      run: |
        # Wir testen den spezifischen Ordner
        pytest --cov=.
    - name: Check Metrics
      run: |
        radon cc Pruefungsleistung_3 -s -a
